{{>header}}
<form action="/resident/handle-delete-form-actions" name="container-form" method="POST"  class="mt-5">
    <div>
        <a href="/me/stored/residents">Quay lại danh sách quản lý cư dân</a>
        <h3>Danh sách cư dân đã xóa</h3>
    </div>
    <div class="mt-2 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-trash-all">
            <label class="form-check-label" for="checkbox-trash-all">
                Chọn tất cả
            </label>
        </div>
        <select class="form-control form-control-sm select-custom" name="action" required>
            <option selected="selected">-- Chọn hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="delete">Xóa vĩnh viễn</option>
        </select>
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
    </div>
    <table class="table table-striped mt-4 border border-dark">
        <thead>
            <tr  class="tr-color">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Tên chủ hộ</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Cư trú</th>
                <th scope="col">Vaccine</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each residents}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="residentIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.owner}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.resident}}</td>
                <td>{{this.vaccine}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-resident-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="8" class="text-center">
                    Thùng rác trống
                     <a href="/me/stored/residents">Danh sách cư dân</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- confirm --}}
<div id="delete-resident-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa cư dân?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn chắc chắn muốn xóa cư dân này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Hủy</button>
                <button id="btn-delete-resident" type="button" class="btn btn-secondary" data-dismiss="modal">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete-hide-form --}}

<form method='POST' name="delete-resident-form"></form>
<form method='POST' name="restore-resident-form"></form>


<script>
    document.addEventListener('DOMContentLoaded', function(){

        var residentId;
        var deleteForm = document.forms['delete-resident-form'];
        var restoreForm = document.forms['restore-resident-form'];
        var btnDeleteResident = document.getElementById('btn-delete-resident');
        var restoreBtn = $('.btn-restore');
        var checkboxAll = $('#checkbox-trash-all');
        var residentItemCheckbox = $('input[name="residentIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-resident-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            residentId = button.data('id');
        })

        btnDeleteResident.onclick = function(){
            deleteForm.action = '/resident/' + residentId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        restoreBtn.click(function (e) {
            e.preventDefault();
            var residentId = $(this).data('id');
            restoreForm.action = '/resident/' + residentId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            residentItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        residentItemCheckbox.change(function () {
            var isCheckedAll = residentItemCheckbox.length === $('input[name="residentIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        checkAllSubmitBtn.on('submit', function (e) {
            var isSubmitable = !$(this).hasClass('disabled');
            if (!isSubmitable) {
                e.preventDefault();
            }
        })
        function renderCheckAllSubmitBtn() {
            var checkCount = $('input[name="residentIds[]"]:checked').length;
            if (checkCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            }
            else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    })
</script>






{{>footer}}

